In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
import keras

Using TensorFlow backend.

In [2]:
df = pd.read_csv("data/train_2008.csv")
df.head()

,id,HRMONTH,HRYEAR4,HURESPLI,HUFINAL,HUSPNISH,HETENURE,HEHOUSUT,HETELHHD,HETELAVL,...,PEDISDRS,PEDISOUT,PRDISFLG,PXDISEAR,PXDISEYE,PXDISREM,PXDISPHY,PXDISDRS,PXDISOUT,target
0,16000,11,2008,1,201,0,1,1,1,-1,...,2,2,2,0,0,0,0,0,0,0
1,16001,11,2008,1,201,0,2,1,1,-1,...,2,2,2,0,0,0,0,0,0,0
2,16002,11,2008,1,1,0,1,1,1,-1,...,2,2,2,0,0,0,0,0,0,0
3,16003,11,2008,2,1,0,1,1,1,-1,...,2,2,2,0,0,0,0,0,0,0
4,16004,11,2008,2,201,0,1,1,1,-1,...,2,2,2,0,0,0,0,0,0,0

In [3]:
# remove unnecessary features

new_df = df.copy()

for feature in df.columns.values:
    temp = new_df[feature]
    elem0 = temp[0]
    if np.count_nonzero(temp-elem0) == 0:
        new_df = new_df.drop(feature, 1)
new_df = new_df.drop('id', 1)

In [4]:
new_df.head()

,HURESPLI,HUFINAL,HUSPNISH,HETENURE,HEHOUSUT,HETELHHD,HETELAVL,HEPHONEO,HUFAMINC,HUTYPB,...,PEDISDRS,PEDISOUT,PRDISFLG,PXDISEAR,PXDISEYE,PXDISREM,PXDISPHY,PXDISDRS,PXDISOUT,target
0,1,201,0,1,1,1,-1,1,16,-1,...,2,2,2,0,0,0,0,0,0,0
1,1,201,0,2,1,1,-1,1,6,-1,...,2,2,2,0,0,0,0,0,0,0
2,1,1,0,1,1,1,-1,1,15,-1,...,2,2,2,0,0,0,0,0,0,0
3,2,1,0,1,1,1,-1,1,13,-1,...,2,2,2,0,0,0,0,0,0,0
4,2,201,0,1,1,1,-1,1,-3,-1,...,2,2,2,0,0,0,0,0,0,0

In [5]:
print(new_df.shape)

(64667, 367)

In [6]:
# base line something
x = new_df.loc[:, new_df.columns != 'target'].values
y = new_df['target'].values

print(x.shape)
print(y.shape)

(64667, 366)
(64667,)

In [7]:
# Shuffle order of data

rand_order = np.arange(len(x))
np.random.seed(42)
np.random.shuffle(rand_order)
print(rand_order)

new_x = []
new_y = []

for i in range(len(rand_order)):
    new_x.append(x[i])
    new_y.append(y[i])

new_x = np.array(new_x)
new_y = np.array(new_y)

print(new_x.shape)
print(new_y.shape)

[23699 34711 50332 ...   860 15795 56422]
(64667, 366)
(64667,)

In [8]:
np.save("data/x.npy", new_x)
np.save("data/y.npy", new_y)